@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
    Глобальные стили
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1232px;
    margin: auto;
}

.montserrat-600 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.montserrat-700 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.montserrat-800 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.t-14 {
    font-size: 0.875rem;
}

.t-16 {
    font-size: 1rem;
}

.t-18 {
    font-size: 1.125rem;
}

.t-20 {
    font-size: 1.25rem;
}

.t-22 {
    font-size: 1.375rem;
}

.t-40 {
    font-size: 2.5rem;
}

.t-48 {
    font-size: 3rem;
}

.t-68 {
    font-size: 4.25rem;
}

.t-74 {
    font-size: 4.625rem;
}

/*
    Стили элементов
*/

header {
    padding-top: 40px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-content_nav {
    width: 467px;
    margin-left: 289px;
    margin-right: 137px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-content_nav a {
    color: #2B1B12;
    text-decoration: none;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 44px;
}

.header-btns > div {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-btns > button {
    width: 122px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: #2B1B12;
    color: white;
}

.main-block {
    background-color: #FEF7F2;
}

.main-block_content {
    display: flex;
    flex-direction: row;
}

.main-block_content-title {
    margin-top: 245px;
    margin-bottom: 240px;
}

.main-block_content-title h1 {
    color: #2B1B12;
}

.main-block_content-title h2 {
    width: 413px;
    color: #4F3527;
    margin-top: 32px;
}

.main-block_content-title button {
    width: 176px;
    height: 58px;
    margin-top: 72px;

    color: white;

    border: none;
    border-radius: 8px;
    background-color: #2B1B12;
}

.main-block_content-img {
    position: absolute;
    top: 19px;
    right: 0;
}

.dream-house {
    position: absolute;
    width: 100%;
    top: 820px;
}

.dream-house_form {
    width: fit-content;
    background-color: #DDC7BB;
    border-radius: 18px;
    padding: 51px 34px 51px 30px;

    display: flex;
    align-items: center;
    gap: 24px;

    box-shadow: 0px 8px 30px 0px #2B1B121F;
}

.dream-house_form label {
    width: 252px;
    height: 58px;
    padding: 0 18px;
    background-color: #FBF5F1;
    border-radius: 8px;

    display: flex;
    align-items: center;
}

.dream-house_form input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #695346;
}

.dream-house_form input::placeholder {
    color: #695346;
}

.dream-house_form button {
    width: 156px;
    height: 58px;
    border-radius: 8px;
    color: white;
    background-color: #2B1B12;
    border: none;
    margin-left: 22px;
}

.second-block {
    padding-top: 218px;
    padding-bottom: 144px;
}

.second-block_content {
    display: flex;
    justify-content: space-between;
}

.second-block_content-title-1 {
    color: #2B1B12;
    margin-bottom: 32px;
}

.second-block_content-title-2 {
    color: #4F3527;
}

.second-block_content-infs {
    display: flex;
    gap: 62px;
    margin-top: 48px;
}

.second-block_content-info {
    color: #4F3527;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    background-color: #DDC7BB;
    width: 275px;
    height: 268px;
    border-radius: 18px;
    box-shadow: 0px 4px 30px 0px #2B1B121F;
    padding: 30px 24px 37px;
}

.card img {
    width: 83px;
    height: 83px;
    padding: 15px;
    border-radius: 8px;
    background-color: #FBF5F1;
}

.card-title {
    color: #2B1B12;
    margin-top: 21px;
    margin-bottom: 12px;
}

.card-text {
    color: #4F3527;
}

.third-block_content-title-1 {
    margin-bottom: 16px;
}

.third-block_content-title-1, .fourth-block-title1 {
    color: #2B1B12;
    text-align: center;
}

.third-block_content-title-2 {
    color: #4F3527;
    margin-bottom: 64px;
    text-align: center;
}

.fourth-block-title1 {
    margin-bottom: 64px;
    margin-top: 144px;
}

.residences {
    display: flex;
    justify-content: space-between;
    margin-bottom: 143px;
}

.residence {
    background-color: #DDC7BB;
    box-shadow: 0px 4px 30px 0px #2B1B121F;
    width: 382px;
    border-radius: 18px;
    padding-bottom: 22px;
}

.residence > img {
    margin-bottom: 18px;
    border-radius: 18px 18px 0 0;
}

.residence-name {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
    margin-left: 20px;
}

.residence-name p {
    color: #2B1B12;
}

.residence-info {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 25px;
    margin-left: 20px;
}

.residence-info div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.residence-info div img {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 4px;
}

.residence-info div p {
    color: #4F3527;
}

.residence-bottom-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 20px;
}

.residence-bottom-info button {
    width: 98px;
    height: 40px;
    color: white;
    background-color: #2B1B12;
    border-radius: 8px;
}

.residence-bottom-info p {
    color: #4F3527;
}

.fifth-block {
    background-color: #FEF7F2;
}

footer {
    background-color: #DDC7BB;
    padding-top: 80px;
    padding-bottom: 202px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-title p {
    margin-top: 32px;
    color: #4F3527;
}

.links-title {
    color: #2B1B12;
    margin-top: 12px;
    margin-bottom: 34px;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.links-container a, .soc-media_link a {
    color: #4F3527;
    text-decoration: none;
}

.soc-media_links-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.soc-media_link {
    display: flex;
    align-items: center;
    gap: 18px;
}