* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

}

.container {
    max-width: 1440px;
    margin: auto;
}

.header_style {
    display: flex;
    flex-direction: row;
    align-items: center;
}